@model Web2ProjectMVC.ViewModels.Home.RegisterVM
@{
    Layout = "../../Views/Shared/_site.cshtml";
    ViewData["Title"] = "Register";
}
}
<form action="/Home/Register" method="post" class="formLogin">
    <h3>Register</h3>
    <div class="formData">
        <div class="inputLabel">
            *@Html.LabelFor(m => m.UserName)
            @Html.TextBoxFor(m => m.UserName)
        </div>
        @Html.ValidationMessageFor(m => m.UserName)
    </div>
    <div class="formData">
        <div class="inputLabel">
            *@Html.LabelFor(m => m.Password)
            @Html.TextBoxFor(m => m.Password)
        </div>
        @Html.ValidationMessageFor(m => m.Password)
    </div>
    <div class="formData">
        <div class="inputLabel">
            *@Html.LabelFor(m => m.Email)
            @Html.TextBoxFor(m => m.Email)
        </div>
        @Html.ValidationMessageFor(m => m.Email)
    </div>
    <div class="formData">
        <div class="inputLabel">
            *@Html.LabelFor(m => m.FirstName)
            @Html.TextBoxFor(m => m.FirstName)
        </div>
        @Html.ValidationMessageFor(m => m.FirstName)
    </div>
    <div class="formData">
        <div class="inputLabel">
            *@Html.LabelFor(m => m.LastName)
            @Html.TextBoxFor(m => m.LastName)
        </div>
        @Html.ValidationMessageFor(m => m.LastName)
    </div>
    <div class="error">@Html.ValidationMessage("alreadyRegistered")</div>
    <div class="submit">
        <button type="submit">Register</button>
    </div>
    <div class="register">
        <a href="/Home/Login">Login</a>
    </div>
</form>
